<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/2eddc7bb11.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id='navBar' class="navbar-white">
        <a href="../index.html">
            <img src="../images/logo-red.png" class="logo" alt="" srcset="">
        </a>

        <ul class="nav-link">
            <li><a href="#" class="active">Popular place</a></li>
            <li><a href="#">Travel outside</a></li>
            <li><a href="#">online Package</a></li>
            <li><a href="#"><i class="fas fa-sign-in-alt"></i>&nbsp; Login</a></li>
            <li><a href=""><i class="fas fa-user-plus"></i>&nbsp; Signup</a></li>

        </ul>
        <i class="fas fa-bars" id="fas" onclick="togglebtn()"></i>

    </nav>
    <div class="house-detail">
        <div class="house-title">
            <h1>Wenge House</h1>
            <div class="row">
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <span>245 Reviews </span>
                </div>
                <div>
                    <p>Location: San francisco,california,United States</p>
                </div>

            </div>
        </div>
        <div class="gallery">
            <div class='gallery-img-1'><img src="../images/house-1.png" alt="" srcset=""></div>
            <div><img src="../images/house-2.png" alt="" srcset=""></div>
            <div><img src="../images/house-3.png" alt="" srcset=""></div>
            <div><img src="../images/house-4.png" alt="" srcset=""></div>
            <div><img src="../images/house-5.png" alt="" srcset=""></div>
            

        </div>
    </div>



</body>

</html>